<title><%= title %></title>


<script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script type="text/javascript" src='/javascripts/global.js'></script>
<script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>

<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />