body {
  padding: 30px;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}


#wrapper {
	padding-left:312px;
	position:relative;
}




#studentInfo {
	width:250px;
	float: right;
}
	
	#studentInfo p {
		padding:15px;
		border:1px solid #CCC;
	}





.grayBackground {
	background-color: #A4A4A4;
	color: #fff;
}

.noBackground {
	background-color: #fff;
}